<div class="container w-75">
    <h3 class="text-center">Acompanhamento de Cadastro</h3>
    <div class="d-flex justify-content-center">
        <div class="success hidden">
            <p class='alert alert-success'></p>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="error hidden">
            <p class='alert alert-danger'></p>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="mx-1">
            <button id="buscaCadastro" class="btn btn-primary">Buscar</button>
        </div>
    </div>
    <div class="d-flex justify-content-center my-2">
        <form id="buscaForm" class="form-group w-75 hidden" action="" method="post" accept-charset="UTF-8">
            <input class="form-control my-1" type="text" name="busca" placeholder="Buscar nome, CPF ou NIS">
            <div>
                <input class="btn btn-primary my-1" type="submit" value="Buscar">
            </div>
        </form>
    </div>
    <div id=resultado class="d-flex justify-content-center">

    </div>
</div>